<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
	">

	<!--
	 同时开启json格式的支持,spring mvc 配置了 <mvc:annotation-driver/> 后 ，
	如果classpath 里面包含jackson 包，则自动注册MappingJackson2HttpMessageConverter，
	从而支持json 输出。
	 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- <context:component-scan base-package="*"/> -->

	<!-- 扫描所有的controller 但是不扫描service -->
	<context:component-scan base-package="com.xulifei.e">
		<context:include-filter type="annotation"
								expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation"
								expression="org.springframework.stereotype.Service" />
	</context:component-scan>

	<!--<mvc:interceptors>-->
		<!--<mvc:interceptor>-->
			<!--<mvc:mapping path="/student/学生客户端不用登录就可以操作的模块/**"/>-->
			<!--<bean class="com.xulifei.e.interceptor.LoginInterceptor"></bean>-->
		<!--</mvc:interceptor>-->
	<!--</mvc:interceptors>-->
	<!--
	 因为上面配置了mvc:annotation-driven，所以这里就不用配置了，自动注册了
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">-->
		 <!--<property name="messageConverters">-->
			      <!--<list>-->
					   <!--<bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"></bean>-->
				  <!--</list>-->
		 <!--</property>-->
	<!--</bean>-->
</beans>
