<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xulifei.e.dao.InviteCodeMapper">
  <resultMap id="BaseResultMap" type="com.xulifei.e.entity.InviteCode">
    <id column="code_id" jdbcType="VARCHAR" property="codeId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    code_id, code, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from invite_code
    where code_id = #{codeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from invite_code
    where code_id = #{codeId,jdbcType=VARCHAR}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.xulifei.e.entity.InviteCode">
    update invite_code
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where code_id = #{codeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xulifei.e.entity.InviteCode">
    update invite_code
    set code = #{code,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where code_id = #{codeId,jdbcType=VARCHAR}
  </update>

  <insert id="insert" parameterType="inviteCode" >

    insert into invite_code ( code_id, code, status)
    values (#{codeId,jdbcType=VARCHAR},#{code,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR})
  </insert>


  <insert id="insertSelective" parameterType="inviteCode" >

    insert into invite_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="codeId != null" >
        code_id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="status != null" >
        status,
      </if>


    </trim>

    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="codeId != null" >
        #{codeId,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>

    </trim>
  </insert>
  <update id="resetCode" parameterType="map">
UPDATE invite_code
SET CODE = #{newCode} WHERE code_id = (SELECT code_id FROM class  WHERE class_id=#{classId} )
  </update>

  <update id="stopCode" parameterType="map">
    UPDATE invite_code
    SET status = #{status} WHERE code_id = (SELECT code_id FROM class  WHERE class_id=#{classId} )
  </update>
  <update id="useCode" parameterType="map">
    UPDATE invite_code
    SET status = #{status} WHERE code_id = (SELECT code_id FROM class  WHERE class_id=#{classId} )
  </update>
  <select id="findCodeByClassId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
      code
    from invite_code
    where code_id = (SELECT code_id FROM class  WHERE class_id=#{classId} )
  </select>

</mapper>