<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xulifei.e.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.xulifei.e.entity.User">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="department" jdbcType="VARCHAR" property="department" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="sjnumber" jdbcType="VARCHAR" property="sjnumber" />
    <result column="education_background" jdbcType="VARCHAR" property="educationBackground" />
    <result column="professional_title" jdbcType="VARCHAR" property="professionalTitle" />
    <result column="research_direction" jdbcType="VARCHAR" property="researchDirection" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, account, pwd, user_name, sex, school, department, major, sjnumber, education_background, 
    professional_title, research_direction
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.xulifei.e.entity.User">
    update user
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="department != null">
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="sjnumber != null">
        sjnumber = #{sjnumber,jdbcType=VARCHAR},
      </if>
      <if test="educationBackground != null">
        education_background = #{educationBackground,jdbcType=VARCHAR},
      </if>
      <if test="professionalTitle != null">
        professional_title = #{professionalTitle,jdbcType=VARCHAR},
      </if>
      <if test="researchDirection != null">
        research_direction = #{researchDirection,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xulifei.e.entity.User">
    update user
    set account = #{account,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      sjnumber = #{sjnumber,jdbcType=VARCHAR},
      education_background = #{educationBackground,jdbcType=VARCHAR},
      professional_title = #{professionalTitle,jdbcType=VARCHAR},
      research_direction = #{researchDirection,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>

  <!-- 用户登陆 -->
  <select id="login" parameterType="user" resultMap="BaseResultMap">
  	select * from USER where account =#{account} and pwd =#{pwd}
  </select>

</mapper>